@model List<GameReviewer.Models.Game>

<h1>List of games</h1>
<hr/>
<a asp-action="Create" asp-controller="Game"> Crate a game</a>
<ul>
    @foreach (var game in Model)
    {
        <li>@game.Name (@game.Rating)
            <a asp-action="Create" asp-controller="Review" asp-route-gamename="@game.Name">Add a review</a>
        </li>
    }   
</ul>